<div class="form-container">
  <mat-card class="form">
    <mat-card-header>
      <mat-card-title class="heading">Create a new post</mat-card-title>
      <button
        *ngIf="isEdit"
        type="button"
        style="margin-left: auto; cursor: pointer;"
        (click)="onPostEditClose()"
        mat-icon-button
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-card-header>
    <mat-divider></mat-divider>
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
      <mat-card-content style="padding-top: 10px;">
        <!-- <mat-form-field class="full-width" style="margin-top: 10px;">

        </mat-form-field> -->
        <textarea
          name="postText"
          class="full-width post-text"
          placeholder="Write Something..."
          [rows]="postRow"
          (mousedown)="onPostEdit()"
          ngModel
        ></textarea>
        <div *ngIf="imgUrl">
          <img [src]="imgUrl" alt="" style="max-height: 500px; max-width: 500px;">
        </div>
      </mat-card-content>
      <mat-divider [inset]="true"></mat-divider>
      <mat-card-content class="mat-card-custom">
        <button
          type="button"
          class="action-button"
          (click)="photoUpload.click()"
          mat-stroked-button
        >
          <mat-icon>add_photo_alternate</mat-icon>
          Add Photo
        </button>
        <input name="postImg" accept="image/*" type="file" (change)="onImageChange($event)" #photoUpload hidden ngModel/>
      </mat-card-content>
      <mat-divider *ngIf="isEdit"></mat-divider>
      <mat-card-actions *ngIf="isEdit" style="margin: 0">
        <button type="submit" class="action-button" mat-raised-button color="primary">Post</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
