.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 1.5rem 0;
}

.form {
  max-width: 600px;
  min-width: 350px;
}

.full-width {
  width: 100%;
}

.heading {
  font-size: 1.5em;
}
