<mat-card>
    <mat-card-header>
        <mat-card-title>
            <p class="mat-display-1">Login</p>
        </mat-card-title>
    </mat-card-header>
    <mat-divider [inset]="true"></mat-divider>
    <form #f="ngForm" (ngSubmit)="onLogin(f.form)">
        <mat-card-content class="mat-card-custom">
            <mat-form-field class="full-width">
                <input type="email" name="email" matInput placeholder="Email Id" ngModel required email> 
            </mat-form-field>
            <mat-form-field class="full-width">
                <input type="password" name="password" matInput placeholder="Password" ngModel required email>
            </mat-form-field>
        </mat-card-content>
        <mat-divider [inset]="true"></mat-divider>
        <mat-card-footer class="mat-card-custom custom-footer">
            <button type="submit" mat-raised-button color="primary" class="action-button">Login</button>
            <div>Not registered yet? <button type="button" class="action-button" mat-raised-button color="accent" [routerLink]="['../signup']">Sign Up</button></div>
        </mat-card-footer>
    </form>
</mat-card>
